/* 
    Theme Name: WordPress Portfolio 
    Theme URI: http://www.timdierickx.be/ 
    Description: Eindopdracht voor Cross-Media Publishing 2
    Version: 0.2 
    Tags: Eindopdracht, Thema, Portfolio, Responsive
    Author: Dierickx Tim
    License: All Rights Reserved 
*/

/* Reset CSS */
@import url('styles/normalize.css');
@import url('styles/bootstrap.min.css');


/* ==============================================
   HELPER CLASSES
   ============================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==============================================
   GLOBAL STYLES
   ============================================== */

html,
button,
input,
select,
textarea {
    color: #000;
}

body {
    font-size: 1em;
    line-height: 1.4;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: ;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* ==============================================
   RESPONSIVE STYLES
   ============================================== */

.wrapper{
    margin:0;
    padding:0;
}
.container{
    /*max-width:1140px; MOBILE FIRST */
    margin:0 auto;
    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
}
.container:before,
.container:after{
    display:table;
    content:" ";

}
.container:after{
    clear:both;
}
.row:before,
.row:after{
    display:table;
    content:" ";
}
.row:after{
    clear:both;
}

.col{
    float:left;
    position:relative;
    min-height:1px;
    margin:1.041666%;
    padding:1.041666%;
    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
    overflow:hidden;
    background:none;
    /*height:120px;/*NOT DONE --> BUT NOW UNIT TESTING!!!!*/
}

.colling{
    float:left;
    position:relative;
    min-height:1px;
    margin:1.041666%;
    padding:1.041666%;
    -webkit-box-sizing:border-box;/*Safari+Chrome*/
    -o-box-sizing:border-box;/*Opera*/
    -moz-box-sizing:border-box;/*Firefox*/
    -ms-box-sizing:border-box;/*IE*/
    box-sizing:border-box;/*W3C*/
    overflow:hidden;
    background:none;

}

.col-sc1-12{width:97.91666%;text-align: center; margin-top:35px; margin-bottom: 20px; }/*iconen*/
.col-sc1-11{width:97.91666%; padding-left: 550px;} /*center sectie*/
.col-sc1-10{width:97.91666%;} /*me sectie*/
.col-sc1-9{width:100%; margin-top: 50px;}
.col-sc1-8{width:97.91666%; text-align:center; margin-top: 50px;} /*titles*/
.col-sc1-7{width:97.91666%;} /*contact*/
.col-sc1-6{width:97.91666%} /*work*/
.col-sc1-5{width:97.91666%; padding-left: 175px;}
.col-sc1-4{width:97.91666%; background-color: #fff;} /*blog*/
.col-sc1-3{width:97.91666%; text-align: center;}
.col-sc1-2{width:97.91666%; padding-left: 170px;}
.col-sc1-1{width:97.91666%;}
.col-logo{background-color:#282828; padding: 10px 10px; font-size: 28px; bord display: none;}


@media (min-width:480px) {
    .col-sc2-12{width:100%;}
    .col-sc2-11{width:97.91666%; padding-left: 10px;}/*arrow*/ 
    .col-sc2-10{width:97.91666%; text-align: center;} /*work pages*/
    .col-sc2-9{width:72.91666%;}
    .col-sc2-8{width:97.91666%;background-color:#fff;} /*blog sectie */
    .col-sc2-7{width:97.91666%; padding-left: 30px;} /*work sectie*/
    .col-sc2-6{width:97.91666%; margin-left: 100px; padding-right: 30px;} /*me sectie*/
    .col-sc2-5{width:47.91666%;text-align: center;} /*iconen*/
    .col-sc2-4{width:97.91666%} /*work sectie*/
    .col-sc2-3{width:97.91666%;} /*arrow*/
    .col-sc2-2{width:47.91666%;} /*links vanonder sectie*/
    .col-sc2-1{width:6.25%;}
    .col-logo{background-color:#282828; padding: 10px 10px; font-size: 28px; display: block;}
}
/*Tablet*/
@media (min-width:768px) {
    .col-sc3-12{width:47.91666%;} /*me sectie*/
    .col-sc3-11{width:47.91666%; padding-left: 150px;}
    .col-sc3-10{width:81.25%;}
    .col-sc3-9{width:72.91666%;}
    .col-sc3-8{width:47.91666%; background-color: #fff;} /*blog sectie*/
    .col-sc3-7{width:56.25%;}
    .col-sc3-6{width:47.91666%;}
    .col-sc3-5{width:97.91666%; padding-left: 550px;} /*arrow*/
    .col-sc3-4{width:22.91666%;}
    .col-sc3-3{width:22.91666%;text-align: center;} /*iconen*/
    .col-sc3-2{width:97.91666%; padding-left: 150px;} /*portfolio*/
    .col-sc3-1{width:47.91666%; padding-right: 50px;} /*work pagina*/
}

@media (min-width:1024px) {
    .col-sc4-12{width:100%;}
    .col-sc4-11{width:89.58333%;}
    .col-sc4-10{width:97.91666%; padding-left: 250px;}
    .col-sc4-9{width:47.91666%; background-color: #fff;} /*blog sectie*/
    .col-sc4-8{width:47.91666%; padding-right: 100px;}
    .col-sc4-7{width:56.25%;}
    .col-sc4-6{width:47.91666%;} /*me sectie*/
    .col-sc4-5{width:47.91666%; padding-left: 200px;}
    .col-sc4-4{width:97.91666%;} /*arrow*/
    .col-sc4-3{width:22.91666%;text-align: center;}/*iconen*/
    .col-sc4-2{width:14.58333%;}
    .col-sc4-1{width:6.25%;}
    .col-logo{float:left;}
}

@media (min-width:1280px) {
    .col-sc5-12{width:47.91666%;%; margin-left:235px;}
    .col-sc5-11{width:89.58333%;}
    .col-sc5-10{width:97.91666%;padding-left: 230px;} /*portfolio*/
    .col-sc5-9{width:97.91666%; padding-left: 540px;} 
    .col-sc5-8{width:47.91666%; padding-left: 215px;;} /*work paginas */
    .col-sc5-7{width:39.58333%; margin-left: 10px;} /*smartphone sectie*/
    .col-sc5-6{width:47.91666%; margin-left: 90px; margin-top: 80px;} /*me sectie*/
    .col-sc5-5{width:47.91666%;padding-right:140px;} /*work sectie*/
    .col-sc5-4{width:47.91666%; background-color: #fff; padding-left: 25px; } /*blog sectie*/
    .col-sc5-3{width:22.91666%;}/*iconen*/
    .col-sc5-2{width:22.91666%;} /*work sectie*/
    .col-sc5-1{width:22.91666%; padding-left: 80px;} /*links*/
}

/* ==============================================
   SCROLL TO TOP
   ============================================== */
.scrolltotop{
    width:36px;
    height:36px;
    display:block;
    position:fixed;
    right:6px;
    bottom:6px;
    background:url('styles/images/totop.png') no-repeat;
    background-size:cover;
    text-indent:-999em;
    cursor:hand;
    cursor:pointer;
    display:none;
}


/* ==============================================
   HEADER STYLES
   ============================================== */

#header-wrapper{
    background:#000;
}
#header{
    background:#282828; 
};
}


/* ==============================================
   MAIN STYLES
   ============================================== */

}
nav a{
    color: white;

}

nav a:hover,
nav a:focus {
    outline: none;
    color: #c1bfbf;
}


.title{
    display: none;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* ==============================================
   MAIN STYLES
   ============================================== */
#main-wrapper{
    background:#000;
}
#main-container{
    background:#fff;
}

/* ==============================================
   FOOTER STYLES
   ============================================== */
#footer-wrapper{
    background:#000;
    text-align: center;
}
#footer{
    color:#fff;
    background:#282828;
}


/* ==============================================
   FOOTER LINKS IMAGES SOCIAL
   ============================================== */

.social{
    margin: 0;
    padding:0;
}

.social-twitter{
    background: url(assets/images/twitter.png)no-repeat center center;
    width:50px;
    height:50px;
}

.social-twitter:hover{
    background: url(assets/images/twitter_blue.png)no-repeat center center;
}

.social-vimeo{
    background: url(assets/images/vimeo.png)no-repeat center center;
   width:50px;
    height:50px;
}

.social-vimeo:hover{
    background: url(assets/images/vimeo_blue.png)no-repeat center center;
}

.social-flickr{
    background: url(assets/images/flickr.png)no-repeat center center;
    width:50px;
    height:50px;

}

.social-flickr:hover{
    background: url(assets/images/flickr_blue.png)no-repeat center center;
}

.social-youtube{
    background: url(assets/images/youtube.png)no-repeat center center;
    width:50px;
    height:50px;
}

.social-youtube:hover{
    background: url(assets/images/youtube_blue.png)no-repeat center center;
}

/* ==============================================
   FONT STYLES
   ============================================== */

h1, h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 2%;
    letter-spacing: 2px;
}

h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    text-align:  center;
}

h2{
    text-transform: uppercase;
    font-size: 14px;
    color: #282828;

}


.white{
    color:  #fff; 
}

/* ==============================================
   CSS3 SLIDER STYLES
   ============================================== */

label, a {
    color: #ccc;
    cursor: pointer;
    text-decoration: none;
}

label{
    margin-top: 15px;
}

#slider {
    margin: 0 auto;

}

input.sliderput {
    display: none;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }


#overflow {
    width: 100%;
    overflow: hidden;
}

.slider{
    width:100%;
}

#slides .inner {
    width: 500%;
    
}

#slides article {
    width: 20%;
    float: left;
}

/* ==============================================
   ANIMATION SLIDER
   ============================================== */

#slides .inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);

}

#slider {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background-color: #fff;


}

#controls label{
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;

}

#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info {
    opacity: 1;
    -webkit-transition: all 1s ease-out 0.6s;
    -moz-transition: all 1s ease-out 0.6s;
    -o-transition: all 1s ease-out 0.6s;
    transition: all 1s ease-out 0.6s;
}

.info, #controls, #slides, #active, #active label {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* ==============================================
   Control setup
   ============================================== */

#controls {
    margin: -27% 0 0 0;
    width: 100%;
    height: 50px;
}

#active {
    margin: 23% 0 0;
    text-align: center;
}

#active label {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #ccc;
}

#active label:hover {
    background: #ccc;
    border-color: #777;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
    background: #333;
    border-color: #333 !important;
}

/*****************************************
                CONTACT PAGE
******************************************/

label{
    display: block;
}

input{
    height: 40px;
    width: 100%;
    padding-left: 20px;
}

.labelcontact{
    color: #282828;
    font-size: 15px;
    cursor: auto;
    text-decoration: none;
    margin-bottom: 5px;
}

.labelcontactCheck{
    float:left;
    margin-top:10px;
    cursor: pointer;
    text-decoration: none;
}

textarea, input, select {
  outline: none;
  color:white;
  font-size: 14px;
  background-color: #282828;
  border:1px solid black;
}


input:active,
input:focus,    
textarea:active,
textarea:focus,
select:active,
select:focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.9);
    color:black;
}

.verzend {
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    line-height:14px;
    color:white;
    background:#282828;
    margin-bottom: 30px;
}


.verzend:hover .verzend:active {
    color:white;
    background:none;
}




h1.contact{
    color: black;   
}

h3{
    clear:both;
    margin:0;
    padding-bottom:20px;
}


.left{
    text-align: left;
}


.manager{
    text-align: center;
    float:left;
    width: 50%;
}


.manager_style{
    margin-top:10px;
    margin-bottom: 0px;
    padding:0;
}

.manager_background{
    background-color: #282828;
    padding:20px;
    margin-top: 15px;
    margin-left: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.manager_background:first-of-type{
    margin-left: 0px;
}


.manager_corrector{
    margin-right: 10px;
}


textarea{
    width: 100%;
    height: 150px;
}

.checkbox{
    margin:0;
    padding:0;
}

.check{
    width: 15px;
    margin-left: 5px;

}


.copyrighter{
    clear:both;
    padding: 30px;
}

.home{
    color: #282828;
}

/* ==============================================
   ROUND CORNERS STYLES
   ============================================== */

.round-corners{
    cursor: pointer;
    position: relative;
    border:1px solid #282828;
    background: #cb4e4e;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;border:1px solid #282828;
    border:1px solid #282828;
    padding: 0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.round-corners:hover {
    top: 2px;
    border:1px solid #282828;
    opacity:1;
    filter:alpha(opacity=80);
}

.round-corners:active {
    top: 6px;
    border:1px solid #282828;
    filter:alpha(opacity=100);
}


.round-corners-contact{
    cursor: pointer;
    position: relative;
    border:1px solid #282828;
    background: #cb4e4e;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;border:1px solid #282828;
    border:1px solid #282828;
    padding: 0;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin-top: 75px;
    margin-left: 40px;
    margin-bottom: 30px;
}

/* ==============================================
   otw-portfolio STYLES
   ============================================== */

/* Requires: normalize.css */
/* Global Reset & Standards ---------------------- */

article.otw-portfolio .text{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.animate-on-hover .image {
  position: relative;
}
.animate-on-hover .image img {
  display: block;
}
.animate-on-hover .image .shadow-overlay {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
}

.ie8 .animate-on-hover .image .shadow-overlay {
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ie8 .animate-on-hover .image .shadow-overlay:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}


/* The Grid ---------------------- */
.otw-row, .otw-columns, .block-grid, .block-grid > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.otw-row {
  max-width: 100%;
  margin: 0 auto;
}
.otw-row .otw-row {
  width: auto;
  max-width: none;
  margin: 0 -10px;
}
.otw-row.otw-collapse .otw-column, .otw-row.otw-collapse .otw-columns {
  padding: 0;
}
.otw-row .otw-row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}
.otw-row .otw-row.otw-collapse {
  margin: 0;
}

.otw-column, .otw-columns {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
}
.otw-column.centered, .otw-columns.centered {
  float: none;
  margin: 0 auto;
}

[class*="otw-column"] + [class*="otw-column"]:last-child {
  float: right;
}

[class*="otw-column"] + [class*="otw-column"].end {
  float: left;
}

.otw-one, .otw-row .otw-one {
  width: 4.16667%;
}

.otw-two, .otw-row .otw-two {
  width: 8.33333%;
}

.otw-three, .otw-row .otw-three {
  width: 12.5%;
}

.otw-four, .otw-row .otw-four {
  width: 16.66667%;
}

.otw-five, .otw-row .otw-five {
  width: 20.83333%;
}

.otw-six, .otw-row .otw-six {
  width: 25%;
}

.otw-seven, .otw-row .otw-seven {
  width: 29.16667%;
}

.otw-eight, .otw-row .otw-eight {
  width: 33.33333%;
}

.otw-nine, .otw-row .otw-nine {
  width: 37.5%;
}

.otw-ten, .otw-row .otw-ten {
  width: 41.66667%;
}

.otw-eleven, .otw-row .otw-eleven {
  width: 45.83333%;
}

.otw-twelve, .otw-row .otw-twelve {
  width: 50%;
}

.otw-thirteen, .otw-row .otw-thirteen {
  width: 54.16667%;
}

.otw-fourteen, .otw-row .otw-fourteen {
  width: 58.33333%;
}

.otw-fifteen, .otw-row .otw-fifteen {
  width: 62.5%;
}

.otw-sixteen, .otw-row .otw-sixteen {
  width: 66.66667%;
}

.otw-seventeen, .otw-row .otw-seventeen {
  width: 70.83333%;
}

.otw-eighteen, .otw-row .otw-eighteen {
  width: 75%;
}

.otw-nineteen, .otw-row .otw-nineteen {
  width: 79.16667%;
}

.otw-twenty, .otw-row .otw-twenty {
  width: 83.33333%;
}

.otw-twentyone, .otw-row .otw-twentyone {
  width: 87.5%;
}

.otw-twentytwo, .otw-row .otw-twentytwo {
  width: 91.66667%;
}

.otw-twentythree, .otw-row .otw-twentythree {
  width: 95.83333%;
}

.otw-twentyfour, .otw-row .otw-twentyfour {
  width: 100%;
}

.otw-row .otw-offset-by-one {
  margin-left: 4.16667%;
}

.otw-row .otw-offset-by-two {
  margin-left: 8.33333%;
}

.otw-row .otw-offset-by-three {
  margin-left: 12.5%;
}

.otw-row .otw-offset-by-four {
  margin-left: 16.66667%;
}

.otw-row .otw-offset-by-five {
  margin-left: 20.83333%;
}

.otw-row .otw-offset-by-six {
  margin-left: 25%;
}

.otw-row .otw-offset-by-seven {
  margin-left: 29.16667%;
}

.otw-row .otw-offset-by-eight {
  margin-left: 33.33333%;
}

.otw-row .otw-offset-by-nine {
  margin-left: 37.5%;
}

.otw-row .otw-offset-by-ten {
  margin-left: 41.66667%;
}

.otw-row .otw-offset-by-eleven {
  margin-left: 45.83333%;
}

.otw-row .otw-offset-by-twelve {
  margin-left: 50%;
}

.otw-row .otw-offset-by-thirteen {
  margin-left: 54.16667%;
}

.otw-row .otw-offset-by-fourteen {
  margin-left: 58.33333%;
}

.otw-row .otw-offset-by-fifteen {
  margin-left: 62.5%;
}

.otw-row .otw-offset-by-sixteen {
  margin-left: 66.66667%;
}

.otw-row .otw-offset-by-seventeen {
  margin-left: 70.83333%;
}

.otw-row .otw-offset-by-eighteen {
  margin-left: 75%;
}

.otw-row .otw-offset-by-nineteen {
  margin-left: 79.16667%;
}

.otw-row .otw-offset-by-twenty {
  margin-left: 83.33333%;
}

.otw-row .otw-offset-by-twentyone {
  margin-left: 87.5%;
}

.otw-row .otw-offset-by-twentytwo {
  margin-left: 91.66667%;
}

.otw-push-two {
  left: 8.33333%;
}

.otw-pull-two {
  right: 8.33333%;
}

.otw-push-three {
  left: 12.5%;
}

.otw-pull-three {
  right: 12.5%;
}

.otw-push-four {
  left: 16.66667%;
}

.otw-pull-four {
  right: 16.66667%;
}

.otw-push-five {
  left: 20.83333%;
}

.otw-pull-five {
  right: 20.83333%;
}

.otw-push-six {
  left: 25%;
}

.otw-pull-six {
  right: 25%;
}

.otw-push-seven {
  left: 29.16667%;
}

.otw-pull-seven {
  right: 29.16667%;
}

.otw-push-eight {
  left: 33.33333%;
}

.otw-pull-eight {
  right: 33.33333%;
}

.otw-push-nine {
  left: 37.5%;
}

.otw-pull-nine {
  right: 37.5%;
}

.otw-push-ten {
  left: 41.66667%;
}

.otw-pull-ten {
  right: 41.66667%;
}

.otw-push-eleven {
  left: 45.83333%;
}

.otw-pull-eleven {
  right: 45.83333%;
}

.otw-push-twelve {
  left: 50%;
}

.otw-pull-twelve {
  right: 50%;
}

.otw-push-thirteen {
  left: 54.16667%;
}

.otw-pull-thirteen {
  right: 54.16667%;
}

.otw-push-fourteen {
  left: 58.33333%;
}

.otw-pull-fourteen {
  right: 58.33333%;
}

.otw-push-fifteen {
  left: 62.5%;
}

.otw-pull-fifteen {
  right: 62.5%;
}

.otw-push-sixteen {
  left: 66.66667%;
}

.otw-pull-sixteen {
  right: 66.66667%;
}

.otw-push-seventeen {
  left: 70.83333%;
}

.otw-pull-seventeen {
  right: 70.83333%;
}

.otw-push-eighteen {
  left: 75%;
}

.otw-pull-eighteen {
  right: 75%;
}

.otw-push-nineteen {
  left: 79.16667%;
}

.otw-pull-nineteen {
  right: 79.16667%;
}

.otw-push-twenty {
  left: 83.33333%;
}

.otw-pull-twenty {
  right: 83.33333%;
}

.otw-push-twentyone {
  left: 87.5%;
}

.otw-pull-twentyone {
  right: 87.5%;
}

.otw-push-twentytwo {
  left: 91.66667%;
}

.otw-pull-twentytwo {
  right: 91.66667%;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

object, embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img, .map_canvas img {
  max-width: none!important;
}

/* Nicolas Gallagher's micro clearfix */
.otw-row {
  *zoom: 1;
}
.otw-row:before, .otw-row:after {
  content: " ";
  display: table;
}
.otw-row:after {
  clear: both;
}

/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid {
  display: block;
  overflow: hidden;
  padding: 0;
}
.block-grid > li {
  display: block;
  height: auto;
  float: left;
}
.block-grid.one-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.one-up > li {
  width: 100%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.two-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.two-up > li {
  width: 50%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.two-up > li:nth-child(2n+1) {
  clear: both;
}
.block-grid.three-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.three-up > li {
  width: 33.33333%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.three-up > li:nth-child(3n+1) {
  clear: both;
}
.block-grid.four-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.four-up > li {
  width: 25%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.four-up > li:nth-child(4n+1) {
  clear: both;
}
.block-grid.five-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.five-up > li {
  width: 20%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.five-up > li:nth-child(5n+1) {
  clear: both;
}
.block-grid.six-up {
  /* More unified spacing between blocks
  @if $i == 1 { margin: 0; }
  @if $i == 2 { margin: 0 -15px; }
  @if $i == 3 { margin: 0 -12px; }
  @if $i == 4 { margin: 0 -10px; }
  @else { margin: 0 -8px; }
  */
  margin: 0 -10px;
}
.block-grid.six-up > li {
  width: 16.66667%;
  /* More unified spacing between blocks
  @if $i == 1 { padding: 0 0 15px; }
  @if $i == 2 { padding: 0 15px 15px; }
  @if $i == 3 { padding: 0 12px 12px; }
  @if $i == 4 { padding: 0 10px 10px; }
  @else { padding: 0 8px 8px; }
  */
  padding: 0 10px 10px;
}
.block-grid.six-up > li:nth-child(6n+1) {
  clear: both;
}

/* Small Devices ------------ */
@media only screen and (max-width: 767px) {
  /* The Grid --- */
  .otw-row, .fixed-width {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .otw-column, .otw-columns {
    width: auto !important;
    float: none;
  }

  .otw-column:last-child, .otw-columns:last-child {
    float: none;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: none;
  }

  .otw-column:before, .otw-columns:before, .otw-column:after, .otw-columns:after {
    content: "";
    display: table;
  }

  .otw-column:after, .otw-columns:after {
    clear: both;
  }

  .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .offset-by-twelve, .offset-by-thirteen, .offset-by-fourteen, .offset-by-fifteen, .offset-by-sixteen, .offset-by-seventeen, .offset-by-eighteen, .offset-by-nineteen, .offset-by-twenty, .offset-by-twentyone, .offset-by-twentytwo {
    margin-left: 0 !important;
  }

  .otw-push-two, .otw-push-three, .otw-push-four, .otw-push-five, .otw-push-six, .otw-push-seven, .otw-push-eight, .otw-push-nine, .otw-push-ten, .otw-push-eleven, .otw-push-twelve, .otw-push-thirteen, .otw-push-fourteen, .otw-push-fifteen, .otw-push-sixteen, .otw-push-seventeen, .otw-push-eighteen, .otw-push-nineteen, .otw-push-twenty, .otw-push-twentyone, .otw-push-twentytwo {
    left: auto;
  }

  .otw-pull-two, .otw-pull-three, .otw-pull-four, .otw-pull-five, .otw-pull-six, .otw-pull-seven, .otw-pull-eight, .otw-pull-nine, .otw-pull-ten, .otw-pull-eleven, .otw-pull-twelve, .otw-pull-thirteen, .otw-pull-fourteen, .otw-pull-fifteen, .otw-pull-sixteen, .otw-pull-seventeen, .otw-pull-eighteen, .otw-pull-nineteen, .otw-pull-twenty, .otw-pull-twentyone, .otw-pull-twentytwo {
    right: auto;
  }

  /* Mobile 4-column Grid */
  .otw-row .mobile-one {
    width: 16.66667% !important;
    float: left;
    padding: 0 10px;
  }
  .otw-row .mobile-one:last-child {
    float: right;
  }
  .otw-row .mobile-one.end {
    float: left;
  }
  .otw-row.collapse .mobile-one {
    padding: 0;
  }

  .otw-row .mobile-two {
    width: 33.33333% !important;
    float: left;
    padding: 0 10px;
  }
  .otw-row .mobile-two:last-child {
    float: right;
  }
  .otw-row .mobile-two.end {
    float: left;
  }
  .otw-row.collapse .mobile-two {
    padding: 0;
  }

  .otw-row .mobile-three {
    width: 50% !important;
    float: left;
    padding: 0 10px;
  }
  .otw-row .mobile-three:last-child {
    float: right;
  }
  .otw-row .mobile-three.end {
    float: left;
  }
  .otw-row.collapse .mobile-three {
    padding: 0;
  }

  .otw-row .mobile-four {
    width: 66.66667% !important;
    float: left;
    padding: 0 10px;
  }
  .otw-row .mobile-four:last-child {
    float: right;
  }
  .otw-row .mobile-four.end {
    float: left;
  }
  .otw-row.collapse .mobile-four {
    padding: 0;
  }

  .otw-row .mobile-five {
    width: 83.33333% !important;
    float: left;
    padding: 0 10px;
  }
  .otw-row .mobile-five:last-child {
    float: right;
  }
  .otw-row .mobile-five.end {
    float: left;
  }
  .otw-row.collapse .mobile-five {
    padding: 0;
  }

  .otw-row .mobile-six {
    width: 100% !important;
    float: left;
    padding: 0 10px;
  }
  .otw-row .mobile-six:last-child {
    float: right;
  }
  .otw-row .mobile-six.end {
    float: left;
  }
  .otw-row.collapse .mobile-six {
    padding: 0;
  }

  .otw-push-one-mobile {
    left: 16.66667%;
  }

  .otw-pull-one-mobile {
    right: 16.66667%;
  }

  .otw-push-two-mobile {
    left: 33.33333%;
  }

  .otw-pull-two-mobile {
    right: 33.33333%;
  }

  .otw-push-three-mobile {
    left: 50%;
  }

  .otw-pull-three-mobile {
    right: 50%;
  }

  .otw-push-four-mobile {
    left: 66.66667%;
  }

  .otw-pull-four-mobile {
    right: 66.66667%;
  }

  .otw-push-five-mobile {
    left: 83.33333%;
  }

  .otw-pull-five-mobile {
    right: 83.33333%;
  }

  /* Block Grids --- */
  /*                 */
  .block-grid.mobile > li {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  .block-grid > li {
    clear: none !important;
  }
  .block-grid.mobile-one-up > li {
    width: 100%;
  }
  .block-grid.mobile-two-up > li {
    width: 50%;
  }
  .block-grid.mobile-two-up > li:nth-child(2n+1) {
    clear: both;
  }
  .block-grid.mobile-three-up > li {
    width: 33.33333%;
  }
  .block-grid.mobile-three-up > li:nth-child(3n+1) {
    clear: both;
  }
  .block-grid.mobile-four-up > li {
    width: 25%;
  }
  .block-grid.mobile-four-up > li:nth-child(4n+1) {
    clear: both;
  }
  .block-grid.mobile-five-up > li {
    width: 20%;
  }
  .block-grid.mobile-five-up > li:nth-child(5n+1) {
    clear: both;
  }
  .block-grid.mobile-six-up > li {
    width: 16.66667%;
  }
  .block-grid.mobile-six-up > li:nth-child(6n+1) {
    clear: both;
  }

  /* Forms --- */
  /*           */
  /* Label alignment */
  label.right {
    text-align: left;
  }

  /* Extend width of all inputs */
  input[type="text"].otw-one, .otw-row input[type="text"].otw-one,
  input[type="password"].otw-one,
  .otw-row input[type="password"].otw-one,
  input[type="date"].otw-one,
  .otw-row input[type="date"].otw-one,
  input[type="datetime"].otw-one,
  .otw-row input[type="datetime"].otw-one,
  input[type="email"].otw-one,
  .otw-row input[type="email"].otw-one,
  input[type="number"].otw-one,
  .otw-row input[type="number"].otw-one,
  input[type="search"].otw-one,
  .otw-row input[type="search"].otw-one,
  input[type="tel"].otw-one,
  .otw-row input[type="tel"].otw-one,
  input[type="time"].otw-one,
  .otw-row input[type="time"].otw-one,
  input[type="url"].otw-one,
  .otw-row input[type="url"].otw-one,
  textarea.otw-one,
  .otw-row textarea.otw-one {
    width: 100% !important;
  }

  input[type="text"].otw-two, .otw-row input[type="text"].otw-two,
  input[type="password"].otw-two,
  .otw-row input[type="password"].otw-two,
  input[type="date"].otw-two,
  .otw-row input[type="date"].otw-two,
  input[type="datetime"].otw-two,
  .otw-row input[type="datetime"].otw-two,
  input[type="email"].otw-two,
  .otw-row input[type="email"].otw-two,
  input[type="number"].otw-two,
  .otw-row input[type="number"].otw-two,
  input[type="search"].otw-two,
  .otw-row input[type="search"].otw-two,
  input[type="tel"].otw-two,
  .otw-row input[type="tel"].otw-two,
  input[type="time"].otw-two,
  .otw-row input[type="time"].otw-two,
  input[type="url"].otw-two,
  .otw-row input[type="url"].otw-two,
  textarea.otw-two,
  .otw-row textarea.otw-two {
    width: 100% !important;
  }

  input[type="text"].otw-three, .otw-row input[type="text"].otw-three,
  input[type="password"].otw-three,
  .otw-row input[type="password"].otw-three,
  input[type="date"].otw-three,
  .otw-row input[type="date"].otw-three,
  input[type="datetime"].otw-three,
  .otw-row input[type="datetime"].otw-three,
  input[type="email"].otw-three,
  .otw-row input[type="email"].otw-three,
  input[type="number"].otw-three,
  .otw-row input[type="number"].otw-three,
  input[type="search"].otw-three,
  .otw-row input[type="search"].otw-three,
  input[type="tel"].otw-three,
  .otw-row input[type="tel"].otw-three,
  input[type="time"].otw-three,
  .otw-row input[type="time"].otw-three,
  input[type="url"].otw-three,
  .otw-row input[type="url"].otw-three,
  textarea.otw-three,
  .otw-row textarea.otw-three {
    width: 100% !important;
  }

  input[type="text"].otw-four, .otw-row input[type="text"].otw-four,
  input[type="password"].otw-four,
  .otw-row input[type="password"].otw-four,
  input[type="date"].otw-four,
  .otw-row input[type="date"].otw-four,
  input[type="datetime"].otw-four,
  .otw-row input[type="datetime"].otw-four,
  input[type="email"].otw-four,
  .otw-row input[type="email"].otw-four,
  input[type="number"].otw-four,
  .otw-row input[type="number"].otw-four,
  input[type="search"].otw-four,
  .otw-row input[type="search"].otw-four,
  input[type="tel"].otw-four,
  .otw-row input[type="tel"].otw-four,
  input[type="time"].otw-four,
  .otw-row input[type="time"].otw-four,
  input[type="url"].otw-four,
  .otw-row input[type="url"].otw-four,
  textarea.otw-four,
  .otw-row textarea.otw-four {
    width: 100% !important;
  }

  input[type="text"].otw-five, .otw-row input[type="text"].otw-five,
  input[type="password"].otw-five,
  .otw-row input[type="password"].otw-five,
  input[type="date"].otw-five,
  .otw-row input[type="date"].otw-five,
  input[type="datetime"].otw-five,
  .otw-row input[type="datetime"].otw-five,
  input[type="email"].otw-five,
  .otw-row input[type="email"].otw-five,
  input[type="number"].otw-five,
  .otw-row input[type="number"].otw-five,
  input[type="search"].otw-five,
  .otw-row input[type="search"].otw-five,
  input[type="tel"].otw-five,
  .otw-row input[type="tel"].otw-five,
  input[type="time"].otw-five,
  .otw-row input[type="time"].otw-five,
  input[type="url"].otw-five,
  .otw-row input[type="url"].otw-five,
  textarea.otw-five,
  .otw-row textarea.otw-five {
    width: 100% !important;
  }

  input[type="text"].otw-six, .otw-row input[type="text"].otw-six,
  input[type="password"].otw-six,
  .otw-row input[type="password"].otw-six,
  input[type="date"].otw-six,
  .otw-row input[type="date"].otw-six,
  input[type="datetime"].otw-six,
  .otw-row input[type="datetime"].otw-six,
  input[type="email"].otw-six,
  .otw-row input[type="email"].otw-six,
  input[type="number"].otw-six,
  .otw-row input[type="number"].otw-six,
  input[type="search"].otw-six,
  .otw-row input[type="search"].otw-six,
  input[type="tel"].otw-six,
  .otw-row input[type="tel"].otw-six,
  input[type="time"].otw-six,
  .otw-row input[type="time"].otw-six,
  input[type="url"].otw-six,
  .otw-row input[type="url"].otw-six,
  textarea.otw-six,
  .otw-row textarea.otw-six {
    width: 100% !important;
  }

  input[type="text"].otw-seven, .otw-row input[type="text"].otw-seven,
  input[type="password"].otw-seven,
  .otw-row input[type="password"].otw-seven,
  input[type="date"].otw-seven,
  .otw-row input[type="date"].otw-seven,
  input[type="datetime"].otw-seven,
  .otw-row input[type="datetime"].otw-seven,
  input[type="email"].otw-seven,
  .otw-row input[type="email"].otw-seven,
  input[type="number"].otw-seven,
  .otw-row input[type="number"].otw-seven,
  input[type="search"].otw-seven,
  .otw-row input[type="search"].otw-seven,
  input[type="tel"].otw-seven,
  .otw-row input[type="tel"].otw-seven,
  input[type="time"].otw-seven,
  .otw-row input[type="time"].otw-seven,
  input[type="url"].otw-seven,
  .otw-row input[type="url"].otw-seven,
  textarea.otw-seven,
  .otw-row textarea.otw-seven {
    width: 100% !important;
  }

  input[type="text"].otw-eight, .otw-row input[type="text"].otw-eight,
  input[type="password"].otw-eight,
  .otw-row input[type="password"].otw-eight,
  input[type="date"].otw-eight,
  .otw-row input[type="date"].otw-eight,
  input[type="datetime"].otw-eight,
  .otw-row input[type="datetime"].otw-eight,
  input[type="email"].otw-eight,
  .otw-row input[type="email"].otw-eight,
  input[type="number"].otw-eight,
  .otw-row input[type="number"].otw-eight,
  input[type="search"].otw-eight,
  .otw-row input[type="search"].otw-eight,
  input[type="tel"].otw-eight,
  .otw-row input[type="tel"].otw-eight,
  input[type="time"].otw-eight,
  .otw-row input[type="time"].otw-eight,
  input[type="url"].otw-eight,
  .otw-row input[type="url"].otw-eight,
  textarea.otw-eight,
  .otw-row textarea.otw-eight {
    width: 100% !important;
  }

  input[type="text"].otw-nine, .otw-row input[type="text"].otw-nine,
  input[type="password"].otw-nine,
  .otw-row input[type="password"].otw-nine,
  input[type="date"].otw-nine,
  .otw-row input[type="date"].otw-nine,
  input[type="datetime"].otw-nine,
  .otw-row input[type="datetime"].otw-nine,
  input[type="email"].otw-nine,
  .otw-row input[type="email"].otw-nine,
  input[type="number"].otw-nine,
  .otw-row input[type="number"].otw-nine,
  input[type="search"].otw-nine,
  .otw-row input[type="search"].otw-nine,
  input[type="tel"].otw-nine,
  .otw-row input[type="tel"].otw-nine,
  input[type="time"].otw-nine,
  .otw-row input[type="time"].otw-nine,
  input[type="url"].otw-nine,
  .otw-row input[type="url"].otw-nine,
  textarea.otw-nine,
  .otw-row textarea.otw-nine {
    width: 100% !important;
  }

  input[type="text"].otw-ten, .otw-row input[type="text"].otw-ten,
  input[type="password"].otw-ten,
  .otw-row input[type="password"].otw-ten,
  input[type="date"].otw-ten,
  .otw-row input[type="date"].otw-ten,
  input[type="datetime"].otw-ten,
  .otw-row input[type="datetime"].otw-ten,
  input[type="email"].otw-ten,
  .otw-row input[type="email"].otw-ten,
  input[type="number"].otw-ten,
  .otw-row input[type="number"].otw-ten,
  input[type="search"].otw-ten,
  .otw-row input[type="search"].otw-ten,
  input[type="tel"].otw-ten,
  .otw-row input[type="tel"].otw-ten,
  input[type="time"].otw-ten,
  .otw-row input[type="time"].otw-ten,
  input[type="url"].otw-ten,
  .otw-row input[type="url"].otw-ten,
  textarea.otw-ten,
  .otw-row textarea.otw-ten {
    width: 100% !important;
  }

  input[type="text"].otw-eleven, .otw-row input[type="text"].otw-eleven,
  input[type="password"].otw-eleven,
  .otw-row input[type="password"].otw-eleven,
  input[type="date"].otw-eleven,
  .otw-row input[type="date"].otw-eleven,
  input[type="datetime"].otw-eleven,
  .otw-row input[type="datetime"].otw-eleven,
  input[type="email"].otw-eleven,
  .otw-row input[type="email"].otw-eleven,
  input[type="number"].otw-eleven,
  .otw-row input[type="number"].otw-eleven,
  input[type="search"].otw-eleven,
  .otw-row input[type="search"].otw-eleven,
  input[type="tel"].otw-eleven,
  .otw-row input[type="tel"].otw-eleven,
  input[type="time"].otw-eleven,
  .otw-row input[type="time"].otw-eleven,
  input[type="url"].otw-eleven,
  .otw-row input[type="url"].otw-eleven,
  textarea.otw-eleven,
  .otw-row textarea.otw-eleven {
    width: 100% !important;
  }

  input[type="text"].otw-twelve, .otw-row input[type="text"].otw-twelve,
  input[type="password"].otw-twelve,
  .otw-row input[type="password"].otw-twelve,
  input[type="date"].otw-twelve,
  .otw-row input[type="date"].otw-twelve,
  input[type="datetime"].otw-twelve,
  .otw-row input[type="datetime"].otw-twelve,
  input[type="email"].otw-twelve,
  .otw-row input[type="email"].otw-twelve,
  input[type="number"].otw-twelve,
  .otw-row input[type="number"].otw-twelve,
  input[type="search"].otw-twelve,
  .otw-row input[type="search"].otw-twelve,
  input[type="tel"].otw-twelve,
  .otw-row input[type="tel"].otw-twelve,
  input[type="time"].otw-twelve,
  .otw-row input[type="time"].otw-twelve,
  input[type="url"].otw-twelve,
  .otw-row input[type="url"].otw-twelve,
  textarea.otw-twelve,
  .otw-row textarea.otw-twelve {
    width: 100% !important;
  }

  input[type="text"].otw-thirteen, .otw-row input[type="text"].otw-thirteen,
  input[type="password"].otw-thirteen,
  .otw-row input[type="password"].otw-thirteen,
  input[type="date"].otw-thirteen,
  .otw-row input[type="date"].otw-thirteen,
  input[type="datetime"].otw-thirteen,
  .otw-row input[type="datetime"].otw-thirteen,
  input[type="email"].otw-thirteen,
  .otw-row input[type="email"].otw-thirteen,
  input[type="number"].otw-thirteen,
  .otw-row input[type="number"].otw-thirteen,
  input[type="search"].otw-thirteen,
  .otw-row input[type="search"].otw-thirteen,
  input[type="tel"].otw-thirteen,
  .otw-row input[type="tel"].otw-thirteen,
  input[type="time"].otw-thirteen,
  .otw-row input[type="time"].otw-thirteen,
  input[type="url"].otw-thirteen,
  .otw-row input[type="url"].otw-thirteen,
  textarea.otw-thirteen,
  .otw-row textarea.otw-thirteen {
    width: 100% !important;
  }

  input[type="text"].otw-fourteen, .otw-row input[type="text"].otw-fourteen,
  input[type="password"].otw-fourteen,
  .otw-row input[type="password"].otw-fourteen,
  input[type="date"].otw-fourteen,
  .otw-row input[type="date"].otw-fourteen,
  input[type="datetime"].otw-fourteen,
  .otw-row input[type="datetime"].otw-fourteen,
  input[type="email"].otw-fourteen,
  .otw-row input[type="email"].otw-fourteen,
  input[type="number"].otw-fourteen,
  .otw-row input[type="number"].otw-fourteen,
  input[type="search"].otw-fourteen,
  .otw-row input[type="search"].otw-fourteen,
  input[type="tel"].otw-fourteen,
  .otw-row input[type="tel"].otw-fourteen,
  input[type="time"].otw-fourteen,
  .otw-row input[type="time"].otw-fourteen,
  input[type="url"].otw-fourteen,
  .otw-row input[type="url"].otw-fourteen,
  textarea.otw-fourteen,
  .otw-row textarea.otw-fourteen {
    width: 100% !important;
  }

  input[type="text"].otw-fifteen, .otw-row input[type="text"].otw-fifteen,
  input[type="password"].otw-fifteen,
  .otw-row input[type="password"].otw-fifteen,
  input[type="date"].otw-fifteen,
  .otw-row input[type="date"].otw-fifteen,
  input[type="datetime"].otw-fifteen,
  .otw-row input[type="datetime"].otw-fifteen,
  input[type="email"].otw-fifteen,
  .otw-row input[type="email"].otw-fifteen,
  input[type="number"].otw-fifteen,
  .otw-row input[type="number"].otw-fifteen,
  input[type="search"].otw-fifteen,
  .otw-row input[type="search"].otw-fifteen,
  input[type="tel"].otw-fifteen,
  .otw-row input[type="tel"].otw-fifteen,
  input[type="time"].otw-fifteen,
  .otw-row input[type="time"].otw-fifteen,
  input[type="url"].otw-fifteen,
  .otw-row input[type="url"].otw-fifteen,
  textarea.otw-fifteen,
  .otw-row textarea.otw-fifteen {
    width: 100% !important;
  }

  input[type="text"].otw-sixteen, .otw-row input[type="text"].otw-sixteen,
  input[type="password"].otw-sixteen,
  .otw-row input[type="password"].otw-sixteen,
  input[type="date"].otw-sixteen,
  .otw-row input[type="date"].otw-sixteen,
  input[type="datetime"].otw-sixteen,
  .otw-row input[type="datetime"].otw-sixteen,
  input[type="email"].otw-sixteen,
  .otw-row input[type="email"].otw-sixteen,
  input[type="number"].otw-sixteen,
  .otw-row input[type="number"].otw-sixteen,
  input[type="search"].otw-sixteen,
  .otw-row input[type="search"].otw-sixteen,
  input[type="tel"].otw-sixteen,
  .otw-row input[type="tel"].otw-sixteen,
  input[type="time"].otw-sixteen,
  .otw-row input[type="time"].otw-sixteen,
  input[type="url"].otw-sixteen,
  .otw-row input[type="url"].otw-sixteen,
  textarea.otw-sixteen,
  .otw-row textarea.otw-sixteen {
    width: 100% !important;
  }

  input[type="text"].otw-seventeen, .otw-row input[type="text"].otw-seventeen,
  input[type="password"].otw-seventeen,
  .otw-row input[type="password"].otw-seventeen,
  input[type="date"].otw-seventeen,
  .otw-row input[type="date"].otw-seventeen,
  input[type="datetime"].otw-seventeen,
  .otw-row input[type="datetime"].otw-seventeen,
  input[type="email"].otw-seventeen,
  .otw-row input[type="email"].otw-seventeen,
  input[type="number"].otw-seventeen,
  .otw-row input[type="number"].otw-seventeen,
  input[type="search"].otw-seventeen,
  .otw-row input[type="search"].otw-seventeen,
  input[type="tel"].otw-seventeen,
  .otw-row input[type="tel"].otw-seventeen,
  input[type="time"].otw-seventeen,
  .otw-row input[type="time"].otw-seventeen,
  input[type="url"].otw-seventeen,
  .otw-row input[type="url"].otw-seventeen,
  textarea.otw-seventeen,
  .otw-row textarea.otw-seventeen {
    width: 100% !important;
  }

  input[type="text"].otw-eighteen, .otw-row input[type="text"].otw-eighteen,
  input[type="password"].otw-eighteen,
  .otw-row input[type="password"].otw-eighteen,
  input[type="date"].otw-eighteen,
  .otw-row input[type="date"].otw-eighteen,
  input[type="datetime"].otw-eighteen,
  .otw-row input[type="datetime"].otw-eighteen,
  input[type="email"].otw-eighteen,
  .otw-row input[type="email"].otw-eighteen,
  input[type="number"].otw-eighteen,
  .otw-row input[type="number"].otw-eighteen,
  input[type="search"].otw-eighteen,
  .otw-row input[type="search"].otw-eighteen,
  input[type="tel"].otw-eighteen,
  .otw-row input[type="tel"].otw-eighteen,
  input[type="time"].otw-eighteen,
  .otw-row input[type="time"].otw-eighteen,
  input[type="url"].otw-eighteen,
  .otw-row input[type="url"].otw-eighteen,
  textarea.otw-eighteen,
  .otw-row textarea.otw-eighteen {
    width: 100% !important;
  }

  input[type="text"].otw-nineteen, .otw-row input[type="text"].otw-nineteen,
  input[type="password"].otw-nineteen,
  .otw-row input[type="password"].otw-nineteen,
  input[type="date"].otw-nineteen,
  .otw-row input[type="date"].otw-nineteen,
  input[type="datetime"].otw-nineteen,
  .otw-row input[type="datetime"].otw-nineteen,
  input[type="email"].otw-nineteen,
  .otw-row input[type="email"].otw-nineteen,
  input[type="number"].otw-nineteen,
  .otw-row input[type="number"].otw-nineteen,
  input[type="search"].otw-nineteen,
  .otw-row input[type="search"].otw-nineteen,
  input[type="tel"].otw-nineteen,
  .otw-row input[type="tel"].otw-nineteen,
  input[type="time"].otw-nineteen,
  .otw-row input[type="time"].otw-nineteen,
  input[type="url"].otw-nineteen,
  .otw-row input[type="url"].otw-nineteen,
  textarea.otw-nineteen,
  .otw-row textarea.otw-nineteen {
    width: 100% !important;
  }

  input[type="text"].otw-twenty, .otw-row input[type="text"].otw-twenty,
  input[type="password"].otw-twenty,
  .otw-row input[type="password"].otw-twenty,
  input[type="date"].otw-twenty,
  .otw-row input[type="date"].otw-twenty,
  input[type="datetime"].otw-twenty,
  .otw-row input[type="datetime"].otw-twenty,
  input[type="email"].otw-twenty,
  .otw-row input[type="email"].otw-twenty,
  input[type="number"].otw-twenty,
  .otw-row input[type="number"].otw-twenty,
  input[type="search"].otw-twenty,
  .otw-row input[type="search"].otw-twenty,
  input[type="tel"].otw-twenty,
  .otw-row input[type="tel"].otw-twenty,
  input[type="time"].otw-twenty,
  .otw-row input[type="time"].otw-twenty,
  input[type="url"].otw-twenty,
  .otw-row input[type="url"].otw-twenty,
  textarea.otw-twenty,
  .otw-row textarea.otw-twenty {
    width: 100% !important;
  }

  input[type="text"].otw-twentyone, .otw-row input[type="text"].otw-twentyone,
  input[type="password"].otw-twentyone,
  .otw-row input[type="password"].otw-twentyone,
  input[type="date"].otw-twentyone,
  .otw-row input[type="date"].otw-twentyone,
  input[type="datetime"].otw-twentyone,
  .otw-row input[type="datetime"].otw-twentyone,
  input[type="email"].otw-twentyone,
  .otw-row input[type="email"].otw-twentyone,
  input[type="number"].otw-twentyone,
  .otw-row input[type="number"].otw-twentyone,
  input[type="search"].otw-twentyone,
  .otw-row input[type="search"].otw-twentyone,
  input[type="tel"].otw-twentyone,
  .otw-row input[type="tel"].otw-twentyone,
  input[type="time"].otw-twentyone,
  .otw-row input[type="time"].otw-twentyone,
  input[type="url"].otw-twentyone,
  .otw-row input[type="url"].otw-twentyone,
  textarea.otw-twentyone,
  .otw-row textarea.otw-twentyone {
    width: 100% !important;
  }

  input[type="text"].otw-twentytwo, .otw-row input[type="text"].otw-twentytwo,
  input[type="password"].otw-twentytwo,
  .otw-row input[type="password"].otw-twentytwo,
  input[type="date"].otw-twentytwo,
  .otw-row input[type="date"].otw-twentytwo,
  input[type="datetime"].otw-twentytwo,
  .otw-row input[type="datetime"].otw-twentytwo,
  input[type="email"].otw-twentytwo,
  .otw-row input[type="email"].otw-twentytwo,
  input[type="number"].otw-twentytwo,
  .otw-row input[type="number"].otw-twentytwo,
  input[type="search"].otw-twentytwo,
  .otw-row input[type="search"].otw-twentytwo,
  input[type="tel"].otw-twentytwo,
  .otw-row input[type="tel"].otw-twentytwo,
  input[type="time"].otw-twentytwo,
  .otw-row input[type="time"].otw-twentytwo,
  input[type="url"].otw-twentytwo,
  .otw-row input[type="url"].otw-twentytwo,
  textarea.otw-twentytwo,
  .otw-row textarea.otw-twentytwo {
    width: 100% !important;
  }

  input[type="text"].otw-twentythree, .otw-row input[type="text"].otw-twentythree,
  input[type="password"].otw-twentythree,
  .otw-row input[type="password"].otw-twentythree,
  input[type="date"].otw-twentythree,
  .otw-row input[type="date"].otw-twentythree,
  input[type="datetime"].otw-twentythree,
  .otw-row input[type="datetime"].otw-twentythree,
  input[type="email"].otw-twentythree,
  .otw-row input[type="email"].otw-twentythree,
  input[type="number"].otw-twentythree,
  .otw-row input[type="number"].otw-twentythree,
  input[type="search"].otw-twentythree,
  .otw-row input[type="search"].otw-twentythree,
  input[type="tel"].otw-twentythree,
  .otw-row input[type="tel"].otw-twentythree,
  input[type="time"].otw-twentythree,
  .otw-row input[type="time"].otw-twentythree,
  input[type="url"].otw-twentythree,
  .otw-row input[type="url"].otw-twentythree,
  textarea.otw-twentythree,
  .otw-row textarea.otw-twentythree {
    width: 100% !important;
  }

  input[type="text"].otw-twentyfour, .otw-row input[type="text"].otw-twentyfour,
  input[type="password"].otw-twentyfour,
  .otw-row input[type="password"].otw-twentyfour,
  input[type="date"].otw-twentyfour,
  .otw-row input[type="date"].otw-twentyfour,
  input[type="datetime"].otw-twentyfour,
  .otw-row input[type="datetime"].otw-twentyfour,
  input[type="email"].otw-twentyfour,
  .otw-row input[type="email"].otw-twentyfour,
  input[type="number"].otw-twentyfour,
  .otw-row input[type="number"].otw-twentyfour,
  input[type="search"].otw-twentyfour,
  .otw-row input[type="search"].otw-twentyfour,
  input[type="tel"].otw-twentyfour,
  .otw-row input[type="tel"].otw-twentyfour,
  input[type="time"].otw-twentyfour,
  .otw-row input[type="time"].otw-twentyfour,
  input[type="url"].otw-twentyfour,
  .otw-row input[type="url"].otw-twentyfour,
  textarea.otw-twentyfour,
  .otw-row textarea.otw-twentyfour {
    width: 100% !important;
  }
}

.otw-sc-portfolio .otw-portfolio-filter {
  margin-bottom: 25px;
}
.otw-sc-portfolio .otw-portfolio-filter li {
  font-family: "Open Sans", sans-serif;
  color: #969696;
  display: inline;
  padding: 0;
}

.otw-sc-portfolio .otw-portfolio li{
  margin:0px !important;
}

.otw-sc-portfolio .otw-portfolio-filter li .separator {
  padding: 0 6px 0 5px;
}
.otw-sc-portfolio .otw-portfolio-filter li a:link,
.otw-sc-portfolio .otw-portfolio-filter li a:visited {
  color: #969696;
}
.otw-sc-portfolio .otw-portfolio-filter li a:hover,
.otw-sc-portfolio .otw-portfolio-filter li a:active, .otw-sc-portfolio .otw-portfolio-filter li.current a {
  color: #00aeef;
}
.otw-sc-portfolio .otw-portfolio {
  overflow: visible;
}
.otw-sc-portfolio .otw-portfolio.block-grid.one-up li {
  padding-left: 0;
  padding-right: 0;
}
.otw-sc-portfolio .otw-portfolio-item-link {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 0 15px 0;
  padding: 0;
  display: block;
  position: relative;
  text-decoration: none;
}
.otw-sc-portfolio .otw-portfolio-item-link > div.title {
  -webkit-transition: bottom 500ms ease-in-out;
  -moz-transition: bottom 500ms ease-in-out;
  -o-transition: bottom 500ms ease-in-out;
  transition: bottom 500ms ease-in-out;
  background: url("../images/gray-background-trasnp.png");
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.otw-sc-portfolio .otw-portfolio-item-link > div.title h1, .otw-sc-portfolio .otw-portfolio-item-link > div.title h2, .otw-sc-portfolio .otw-portfolio-item-link > div.title h3, .otw-sc-portfolio .otw-portfolio-item-link > div.title h4, .otw-sc-portfolio .otw-portfolio-item-link > div.title h5, .otw-sc-portfolio .otw-portfolio-item-link > div.title h6 {
  display: inline-block;
  color: white;
  margin: 0;
  padding: 11px;
  font-size: 18px;
}
.otw-sc-portfolio .otw-portfolio-item-link > div.text {
  -webkit-transition: bottom 500ms ease-in-out;
  -moz-transition: bottom 500ms ease-in-out;
  -o-transition: bottom 500ms ease-in-out;
  transition: bottom 500ms ease-in-out;
  background: url("../images/blue-background-trans.png");
  color: white;
  padding: 10px;
  height: 80px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: -80px;
}
.otw-sc-portfolio .otw-portfolio-item-link::before {
  z-index: 30;
}
@media only screen and (min-width: 768px) {
  .otw-sc-portfolio .otw-portfolio-item-link > div.title {
    width: 100%;
  }
  .otw-sc-portfolio .otw-portfolio-item-link > div.title h1, .otw-sc-portfolio .otw-portfolio-item-link > div.title h2, .otw-sc-portfolio .otw-portfolio-item-link > div.title h3, .otw-sc-portfolio .otw-portfolio-item-link > div.title h4, .otw-sc-portfolio .otw-portfolio-item-link > div.title h5, .otw-sc-portfolio .otw-portfolio-item-link > div.title h6 {
    display: block;
  }
  .otw-sc-portfolio .otw-portfolio-item-link:hover > div.title {
    -webkit-transition: bottom 500ms ease-in-out;
    -moz-transition: bottom 500ms ease-in-out;
    -o-transition: bottom 500ms ease-in-out;
    transition: bottom 500ms ease-in-out;
    bottom: 80px;
  }
  .otw-sc-portfolio .otw-portfolio-item-link:hover > div.text {
    -webkit-transition: bottom 500ms ease-in-out;
    -moz-transition: bottom 500ms ease-in-out;
    -o-transition: bottom 500ms ease-in-out;
    transition: bottom 500ms ease-in-out;
    bottom: 0px;
  }
}
.otw-sc-portfolio .otw-portfolio-item-text-column h3 {
  margin-top: 0;
  color: #636363;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  .otw-sc-portfolio .otw-portfolio-item > div.title {
    width: auto !important;
  }
  .otw-sc-portfolio .otw-portfolio-item > div.title h1, .otw-sc-portfolio .otw-portfolio-item > div.title h2, .otw-sc-portfolio .otw-portfolio-item > div.title h3, .otw-sc-portfolio .otw-portfolio-item > div.title h4, .otw-sc-portfolio .otw-portfolio-item > div.title h5, .otw-sc-portfolio .otw-portfolio-item > div.title h6 {
    max-width: auto;
    display: inline-block;
  }
  .otw-sc-portfolio .otw-portfolio-item > div.text {
    display: none !important;
  }
  .otw-sc-portfolio .otw-portfolio-item::before {
    z-index: 30;
  }
  .otw-sc-portfolio .otw-portfolio-item:hover > div.title {
    bottom: 0 !important;
  }
}
.ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title {
  width: 100%;
}
.ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h1, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h2, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h3, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h4, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h5, .ie8 .otw-sc-portfolio .otw-portfolio-item-link > div.title h6 {
  display: block;
}
.ie8 .otw-sc-portfolio .otw-portfolio-item-link:hover > div.title {
  bottom: 80px;
}
.ie8 .otw-sc-portfolio .otw-portfolio-item-link:hover > div.text {
  bottom: 0px;
}

.otw-single-portfolio-item .portfolio-gallery-wrapper .flexslider {
  overflow: hidden;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel {
    display: none;
  }
}
.otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel li {
  width: auto !important;
  margin-right: 5px;
}
.otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel img {
  max-height: 120px !important;
  width: auto !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.otw-single-portfolio-item .portfolio-gallery-wrapper #portfolio-carousel .flex-active-slide img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.otw-single-portfolio-item .portfolio-gallery-wrapper img {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
}
.otw-single-portfolio-item .post-meta {
  margin: 20px 0;
}
.otw-single-portfolio-item .visit-site {
  font-size: 14px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.otw-portfolio-item-link {
  position: relative;
}
.otw-portfolio-item-link img {
  display: block;
}
.otw-portfolio-item-link .shadow-overlay {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.01) inset;
}

.ie8 .otw-portfolio-item-link .shadow-overlay {
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ie8 .otw-portfolio-item-link .shadow-overlay:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.otw-widget-portfolio-latest .widget-row {
  min-height: 60px;
  margin-bottom: 20px;
}
.otw-widget-portfolio-latest .widget-row .image {
  float: left;
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
}
.otw-widget-portfolio-latest .widget-row h1, .otw-widget-portfolio-latest .widget-row h2, .otw-widget-portfolio-latest .widget-row h3, .otw-widget-portfolio-latest .widget-row h4, .otw-widget-portfolio-latest .widget-row h5, .otw-widget-portfolio-latest .widget-row h6 {
  font-size: 18px;
  margin: 0 0 10px 70px;
}
.otw-widget-portfolio-latest .widget-row p {
  margin: 0 0 0 70px;
  line-height: 14px;
}

ul.page-numbers {
  margin: 20px 0;
}
ul.page-numbers li {
  display: inline;
  padding: 0;
  text-align: center;
}
ul.page-numbers li a, ul.page-numbers li span {
  display: block;
  float: left;
  min-width: 20px;
  background: #e3e3e3;
  padding: 5px 5px;
  margin: 0 3px 0 0;
  text-decoration:none;
}
ul.page-numbers li:hover a {
  background: #d6d6d6;
}
ul.page-numbers .current {
  background: #00aeef;
  color: white;
}

.otw_paging{
  clear:both;
}


/* Visibility Classes ---------------------- */
/*                                           */
/* Standard (large) display targeting */
.show-for-small,
.show-for-medium,
.show-for-medium-down,
.hide-for-large,
.hide-for-large-up,
.show-for-xlarge,
.show-for-print {
  display: none !important;
}

.hide-for-small,
.hide-for-medium,
.hide-for-medium-down,
.show-for-large,
.show-for-large-up,
.hide-for-xlarge,
.hide-for-print {
  display: inherit !important;
}

/* Very large display targeting */
@media only screen and (min-width: 1441px) {
  .hide-for-small,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-large,
  .show-for-large-up,
  .show-for-xlarge {
    display: inherit !important;
  }

  .show-for-small,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-large,
  .hide-for-large-up,
  .hide-for-xlarge {
    display: none !important;
  }
}
/* Medium display targeting */
@media only screen and (max-width: 1279px) and (min-width: 768px) {
  .hide-for-small,
  .show-for-medium,
  .show-for-medium-down,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-xlarge {
    display: inherit !important;
  }

  .show-for-small,
  .hide-for-medium,
  .hide-for-medium-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-xlarge {
    display: none !important;
  }
}
/* Small display targeting */
@media only screen and (max-width: 767px) {
  .show-for-small,
  .hide-for-medium,
  .show-for-medium-down,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-xlarge {
    display: inherit !important;
  }

  .hide-for-small,
  .show-for-medium,
  .hide-for-medium-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-xlarge {
    display: none !important;
  }
}
/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

@media screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }
}
@media screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }
}
/* Touch-enabled device targeting */
.show-for-touch {
  display: none !important;
}

.hide-for-touch {
  display: inherit !important;
}

.touch .show-for-touch {
  display: inherit !important;
}

.touch .hide-for-touch {
  display: none !important;
}

/* 1280 tablet ------------ */
/* Covering almost all ----- */
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}
/* Between Medium and Small */
/* Small Devices ------------ */
@media only screen and (max-width: 767px) {
  /* Global Misc --- */
  /*                 */
  .left, .right {
    float: none;
  }




